@font-face {
    font-family: 'Kaiti';
    src: URL('simkai.ttf') format('truetype');
  }

textarea{
    padding: none;
    border: none;

    border: none;
    font-size: 45vw;
    font-family: Kaiti;
    vertical-align: top;
    display: flex;
    align-items: baseline;
    position: relative;
    bottom: 30px;
}

*{
    margin: 0;
    padding: 0;
    vertical-align: top;
}